*{
	margin: 0;
	padding: 0;
	box-sizing: border-box ;
}

body{
	background: rgba(243, 98, 98, 0.861);
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: calibri;
	font-size: 120%;}
	
h1{ 
	padding: 30px;
 	color: darkred;
	}
.container{
	border-radius: 15px;
	max-width: 800px;
	max-height: 600px;
	width: 70%;
	color: white;
	background: darkolivegreen;
	width: 98vw;
	height: 97vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.izquierdo{
	width: 70%;
	font-size: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.derecha{
	width: 30%;
}
.msj{
	font-size: 40px;
	height: 50px;
}
.opcion{
	border-radius: 15px;
	color: white;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	background-color: rgba(227, 36, 78, 0.598);
	display: block;
    max-width:600px;
	padding: 10px;
    margin-bottom: 10px;
}
.opcion:hover{
	background-color: #bc5151;
}
.puntos{
	color: white;
	font-size: 40px;
}