body{
	text-align: center;
	color: #262626;
	background: url(15.jpg) 100% 100%
}

.num {
	font-size: 30px;
	background-color: mistyrose ;
	text-align: center;
	color: #000;
	max-width:400px;
	margin:auto;
	margin-top: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	display: flex;
	padding: 50px 0;
	justify-content: center;
}
 .maso {
 	font-size: 30px;
	background-color: blueviolet ;
	text-align: center;
	color: #000;
	max-width:400px;
	margin:auto;
	margin-top: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	display: flex;
	padding: 50px 0;
	justify-content: center;
	
 }
 .menos {
 	font-size: 30px;
	background-color:lightcoral ;
	text-align: center;
	color: #000;
	max-width:400px;
	margin:auto;
	margin-top: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	display: flex;
	padding: 50px 0;
	justify-content: center;
	
 }